.container {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px  #D4BDAC;
    margin: auto;
    padding: 0.5rem;
    margin-top: 10vh;
    text-align: center;
    color: #536493;
align-items: center;
font-family: "Malvie Trial", Arial, sans-serif;

}


.body{
    height: 100vh;
}
.title {
    font-size: 1.8rem;
    margin: 0.5rem;
}

.form {
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    align-items: start;
    text-align: center;
}
.emailContainer
{
    width: 100%;
    margin-bottom: 1rem;
    margin: 0.5rem 0; 

}
.input {
    width: 80%; 
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0.5rem;
}

.input:focus {
    transition: border-color 0.3s, box-shadow 0.3s;
}

.error {
    color: #EF5A6F;
    padding: 0.1rem;
    font-size: 0.9rem;
}

.submitButton {
    width: 40%;
    background-color:#536493;
    color: #fff5e6; 
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.submitButton:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

.submitButton:disabled {
    cursor: not-allowed;
}

.googleButtonContainer {
    width: 100%;
}

.googleButton {
    width: 80%;
    max-width: 400px;
    background-color: #EF5A6F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    transition: background-color 0.3s, transform 0.2s;
    margin: 1rem;
}

.googleButton:hover {
    background-color: #b9362b;
    transform: scale(1.02);
}

.movePage,
.forgotPassword {
    cursor: pointer;
}

.show-password-btn {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0; 
}

.password-container {
    position: relative;
    width: 80%; 
    margin: 0.5rem 0;
}


.exampleUserButton{
    width: 70%;
    background-color:#D4BDAC;
    color: #fff5e6; 
    border: none;
    border-radius: 6px;
    padding: 0.2rem;
    margin: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.exampleUserButton:hover{
    background-color:#e3b492 ;
    transform: scale(1.02);
}