.listContainer {
  margin-right: 0;
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.3rem;
  color: #536493;
  position: relative; /* Ensure proper alignment with floating elements */
}

.header {
  display: grid;
  grid-template-columns: 1.7fr 1fr 2fr 1fr 2fr 1fr 0.7fr;
  font-weight: normal;
  color: #fbf6f3;
  background-color:#536493 ;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  align-items: center;
}

.actionIcons {
  display: flex;
  gap: 15px;
  font-weight: lighter;
  justify-content: flex-end;
}

.transactionItem:hover {
  background-color: #FFF1DB;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.headerWithActions {
  display: flex;
  justify-content: space-between; /* Space between table filters and action icons */
  align-items: center;
  padding: 0 10px;
}

.actionIcons {
  display: flex;
  gap: 10px; /* Add spacing between the icons */
  justify-content: flex-end;
}

.actionIcons > * {
  cursor: pointer;
  font-size: 1.2rem; /* Adjust icon size */
}


.transactionItem:hover {
  background-color: #FFF1DB;
}

.income {
  background-color: #53d19d;
}

.expense {
  background-color: rgb(239, 90, 111, 0.5);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon:hover {
  color: #505051;
}



.pageButton {
  background-color: #b49a8c;
  color: white;
  border: none;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.8rem;
}

.pageButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pageNumber {
  font-size: 16px;
}

.filterInput {
  margin-left: 0.2rem;
  padding: 0.1rem;
  font-size: 0.7rem;
}

.dropdownContainer {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.filterSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.arrow {
  margin-left: 1rem;
}

.categoryText {
  font-weight: normal;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.option {
  font-weight: normal;
  cursor: pointer;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.option:hover {
  background-color: #f0f0f0;
}

.filterSelect.open .arrow {
  transform: rotate(180deg);
}

.selectedOption {
  font-weight: bold;
  color: #33448e;
}


.hiddenOnSmall {
  display: block; /* Default: show all */
}


@media (max-width: 768px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    /* Show only 3 columns */
    font-size: 1.5rem;
  }

  .header>* {
    grid-template-columns: repeat(3, 1fr);
    /* Show only 3 columns */
    font-size: 1rem;
  }

  .hiddenOnSmall {
    display: none;
    /* Hide additional fields */
  }

}

.addButton {
  font-size: 2rem;
  color: #536493;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;  
  height: 30px;
  top:-20px;
  align-content: flex-start;
}

.addButton:hover {
  color: #3a4b8f;
}

