.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #b49a8c;
    color: #536493;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .label {
    font-size: 1rem;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
  }
  
  .input:focus,
  .textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .textarea {
    resize: none;
    height: 80px;
  }
  
  .submitButton {
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: #536493;
    color:#FFF1DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .addButton{
    padding: 5px 10px;
    background-color: #536493;
    color:#FFF1DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }