.container {
    max-width: 90%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    color: #536493;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .label {
    font-size: 1rem;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
  }
  
  .input:focus,
  .textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .textarea {
    resize: none;
    height: 80px;
  }
  
  .submitButton {
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: #536493;
    color:#FFF1DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .addButton{
    padding: 5px 10px;
    background-color: #536493;
    color:#FFF1DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    
  }
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
    grid-gap: 20px;
  }
  
  .gridItem {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Stack title and chart vertically */
    background-color: #fbf6f3;
    box-shadow: 0px 4px 6px #6c757d;
    color:#6c757d;

  }
  .gridItem h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:#536493;
  }