.customFileUpload {
    display: inline-flex; /* Use flexbox for inline layout */
    align-items: center; /* Vertically align the icon and text */
    justify-content: center; /* Center content horizontally */
    gap: 8px; /* Add spacing between the icon and text */
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: lighter;
    color: #fff;
    background-color: #536493;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.customFileUpload:hover {
    background-color: #3a4b8f;
}

.fileUploadWrapper {
    text-align: center;
}

.hiddenInput {
    display: none;
}
