/* about-us.module.css */

.container {
  color: #536493;

}

.header {
  background-image: url('/splash_title.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  text-shadow: 10px 7px 10px #D4BDAC;
  display: flex; /* הופך את הקונטיינר ל-Flexbox */
  align-items: center; /* ממרכז את התוכן במאונך */
  justify-content: center; /* ממרכז את התוכן במאוזן */
  text-align: center; /* ממרכז טקסט אם יש יותר משורה */
}


.header h1 {
  margin: 0;
  font-size: 2.5em;
}
.main {
  display: flex; /* מאפשר שימוש בפלקסבוקס */
  flex-direction: column; /* מבטיח שהתוכן יוצג כעמודה */
  justify-content: center; /* ממרכז את התוכן במאונך */
  align-items: center; /* ממרכז את התוכן במאוזן */
  text-align: center; /* ממרכז טקסט בשורות מרובות */
  padding: 20px; /* מוסיף רווח פנימי */
}

.introduction {
  max-width: 600px; /* מגביל את רוחב התוכן כדי להיראות כמו שיר */
  line-height: 1.6; /* מוסיף מרווח בין שורות */
  font-size: 1.2rem; /* משנה את גודל הגופן */
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}



.authButtons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  color: #536493;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color:#D4BDAC;
}

