/* about-us.module.css */

.container {
  padding: 20px;
}

.header {
  background-image: url('/splash_title.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  padding: 20px;
  color: white;
text-shadow: 10px 7px 10px #D4BDAC;
align-items: center;
text-align: center;
justify-items: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

.main {
  padding: 20px;
}

.introduction,
.team,
.mission {
  margin-bottom: 30px;
}

.introduction h2,
.team h3,
.mission h3 {
  color: #2f5f98;
}

.introduction p,
.team p,
.mission p {
  font-size: 1.1em;
  line-height: 1.6em;
}

/* ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.1em;
} */

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* AboutUs.module.css */
.container {
  /* existing styles */
}

.authButtons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  color: #2f5f98;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

