/* Add animation on appearance */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .transactionItem {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: auto;
    padding: 0.6rem;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    margin: 0;
    line-height: 1.2vh;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .transactionItem:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .transactionItem input,
  .transactionItem select {
    width: 85%;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .transactionItem input:focus,
  .transactionItem select:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #536493;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
  }
  
  .icon:hover {
    color: #505051;
    transform: scale(1.1);
  }
  
  .income {
    color: #53d19d;
    background-color: #fbf6f3;
border:#53d19d;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .expense {
    color: #EF5A6F;
    border-color:  rgb(239, 90, 110);

    animation: fadeIn 0.5s ease-in-out;
    background-color: #fbf6f3;

  }
  
  .saved {
    color: #b49a8c;
    background-color: #fbf6f3;

    animation: fadeIn 0.5s ease-in-out;
  }
  
  .hiddenOnSmall {
    display: block;
  }
  
  @media (max-width: 768px) {
    .transactionItem {
      grid-template-columns: repeat(3, 1fr);
      font-size: 1.5rem;
      padding: 0.1rem;
    }
  
    .transactionItem>* {
      font-size: 1rem;
    }
  
    .hiddenOnSmall {
      display: none;
    }
  }

  .transactionItem {
    display: flex; /* Use flexbox to arrange elements */
    justify-content: space-between; /* Spread the content evenly */
    align-items: center; /* Align items vertically in the center */
    
    
  }
  
  .transactionItem div {
    flex: 1; /* Ensure equal spacing between elements */
    text-align: center; /* Center-align text */
  }
  
  .transactionItem div:last-child {
    flex: 0; /* Prevent the icon from stretching */
    text-align: right; /* Align the icon to the right */
  }
  
  .transactionItem .icon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .transactionItem .icon:hover {
    color: #505051;
  }
  
  