/* General Page Layout */
.page {
    color: #2f5f98;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:35px;
  }
  
  /* Title Section */
  .title {
    display: grid; /* Enable Grid layout */
    place-items: center; /* Centers content both horizontally and vertically */
    text-align: center; /* Align multiline text */
    background-image: url('/splash.png'); /* Replace with your watercolor splash */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Painting_With_Chocolate', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #2f5f98;
    flex: 1;
    padding: 5%;
    height: 400px; /* Set a fixed height */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .title {
      height: 200px; /* Smaller height for smaller screens */
      font-size: 2.5rem; /* Adjust font size */
    }
  }
  
  @media (max-width: 480px) {
    .title {
      height: 150px; /* Smaller height for very small screens */
      font-size: 2rem; /* Adjust font size */
    }
  }
 
  
 /* Totals Section */
.totalsSection {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    padding: 10px;
  
  }
  .mainSection {
    display: flex;
    flex-direction: column;
    flex: 1; /* Grow to fill available space */
    position: relative; /* Enable positioning within */
  }
  
  .tableSection {
    flex: 1; /* Allow the table section to grow */
  }
  
  .addBudgetSection {
    margin-top: auto; /* Push this section to the bottom */
    padding: 20px;
  }
  
  
  
  
  
 
  