/* General Page Layout */
.page {
    color: #2f5f98;
    padding: 20px;
    display: flex;
  }
  
  /* Title Section */
  .title {
    display: grid; /* Enable Grid layout */
    place-items: center; /* Centers content both horizontally and vertically */
    text-align: center; /* Align multiline text */
    background-image: url('/splash.png'); /* Replace with your watercolor splash */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Painting_With_Chocolate', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #2f5f98;
    flex :1;
    padding: 5%;
  }
  
  .title-text h1 {
    margin: 0; /* Remove default margin */
    line-height: 1; /* Adjust line spacing if needed */
  }
  
  
  .header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .mainSection {
    display:flex;
    flex-direction: column;
    flex:4;
  }
  .addBudgetSection {
    margin-top: 150px; /* Adjust this value as needed */
  }
  
 
  