.body {
    font-family: 'Super Dream', Arial, Helvetica, sans-serif;
}

.container {
    font-family: 'Super Dream', Arial, Helvetica, sans-serif;
    width: 85%;
    padding: 1rem;
    border-radius: 7px;
    overflow-x: auto;
    max-width: 1200px;
    align-items: center;
    padding: 0.6rem;
    background-color: #fbf6f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.barHeader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.4rem;
}

.category {
    color: var(--highlight-color, #536493);
}

.year {
    color: var(--accent-color, #D4BDAC);
}

.barBackground {
    width: 100%;
    color: var(--primary-color, #EF5A6F);
    border-radius: 15px;
    overflow: hidden;
    height: 130px;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.barFooter {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.usageText {
    color: var(--highlight-color, #536493);
}

.overBudget {
    color: var(--primary-color, #EF5A6F);
    font-weight: bold;
}

.explanationText {
    color: var(--highlight-color, #536493);
    font-size: 14px;
    text-align: center;
}