@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
:root {
  --background: linear-gradient(145deg, #ffffff, #fff1db);
  
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  #fff1db5e;
    
    --foreground: #171717;
  }
}

/* Reset and Utilities */
* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
/*   font-family: 'Super Dream', Arial, Helvetica, sans-serif; /* Apply the font */
font-family: 'Roboto', sans-serif;
    font-weight: 700;
 }

/* Custom Font */
@font-face {
  font-family: 'Super Dream';
  src: url('/fonts/Super Dream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind Custom Utility */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Super Dream';
  src: url('fonts/Super Dream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Surfing Capital';
  src: url('fonts/Surfing Capital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DynaPuff';
  src: url('fonts/DynaPuff.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gagalin';
  src: url('fonts/Gagalin.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Malvie Trial';
  src: url('fonts/Malvie Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Painting_With_Chocolate';
  src: url('fonts/Painting_With_Chocolate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  src: url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  box-sizing: border-box;
}

