@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Reset and Utilities */
* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Super Dream', Arial, Helvetica, sans-serif; /* Apply the font */
}

/* Custom Font */
@font-face {
  font-family: 'Super Dream';
  src: url('/fonts/Super Dream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind Custom Utility */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Super Dream';
  src: url('fonts/Super Dream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Surfing Capital';
  src: url('fonts/Surfing Capital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DynaPuff';
  src: url('fonts/DynaPuff.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gagalin';
  src: url('fonts/Gagalin.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
