/* General Page Layout */
.page {
    color: #536493;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes up the full viewport height */
    overflow: hidden; /* Prevent unnecessary scrolling */
  }
  
  /* Title Section */
  .title {
    display: grid; /* Enable Grid layout */
    place-items: center; /* Centers content both horizontally and vertically */
    text-align: center; /* Align multiline text */
    font-family: 'Painting_With_Chocolate', Arial, sans-serif;
    font-size: 2.7rem;
    font-weight: bold;
    color: #536493;
    margin: 2%;
    text-shadow: 10px 7px 10px #D4BDAC;
    /* -webkit-text-stroke: 1px #D4BDAC; 
    -webkit-text-fill-color: #536493;  */

  }
  
  /* Main Section */
  .mainSection {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5; /* Allow the main section to take up remaining space */
    justify-content: space-between; /* Distribute content evenly */
  }
  
  /* Add Saving Section */
  .addSavingSection {
    align-self: center; /* Horizontally center the section */
    padding: 20px;
    text-align: center; /* Center content inside */
  }
  