.container {
  min-height: 55vh;
}

.title {
  position: absolute;
  width: 30%;
  height: 45vh;
  top: 45%;
  left: 83%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  place-items: center;
  background-image: url('../../../public/Screenshot_2024-12-03_111853-removebg-preview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 3vw;
  color: #2f5f98;
  padding: 0;
  margin: 0;
  z-index: 10;
}


/* Optional Background Enhancement */
.titleContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 30vh;
  z-index: 1;
  /* Below the text */
  border-radius: 8px;
  /* Optional to smooth edges */
}

/* Section for transactions */
.transactionsSection {
  margin-bottom: 5vh;
  text-align: center;
}

.total {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #2f5f98;
}