.container {
  min-height: 55vh;
}

.title {
  position: absolute;
  width: 30%;
  height: 45vh;
  top: 45%;
  left: 83%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  place-items: center;
  background-image: url('../../../public/Screenshot_2024-12-03_111853-removebg-preview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Gagalin', Arial, sans-serif;
  font-size: 3vw;
  color: #536493;
  padding: 0;
  margin: 0;
  z-index: 10;
}


/* Optional Background Enhancement */
.titleContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 30vh;
  z-index: 1;
  /* Below the text */
  border-radius: 8px;
  /* Optional to smooth edges */
}

/* Section for transactions */
.transactionsSection {
  margin-bottom: 5vh;
  text-align: center;
}

.total {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #536493;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin: auto ;
}

@keyframes l5 {
  0%  { box-shadow: 20px 0 #EF5A6F, -20px 0 #EF5A6F;background: #EF5A6F}
  33% { box-shadow: 20px 0 #EF5A6F, -20px 0 #EF5A6F; background: #FFF1DB}
  66% { box-shadow: 20px 0 #FFF1DB, -20px 0 #D4BDAC;background: #D4BDAC}
  100% { box-shadow: 20px 0 #D4BDAC, -20px 0 #FFF1DB;background: #536493}
}


