
  .gridItem {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Ensure text is centered */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px #D4BDAC;
    background-color: #fbf6f3;
    color: #536493;
  }
  
  .progressCircleContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 100%;
    position: relative;
  }
  

  .goalName {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow:0px 4px 10px #536493;
  }
  
  .deadline {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #536493;

  }
  
  .deadline {
    display: block;
    margin-top: 10px; 
    font-size: 0.9rem;
    font-weight: bold;
    color: #536493;
  }
  