/* Keyframes for hover scaling animation */
@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.container {
    padding: 30px;
    color: #536493;
    text-shadow: 0 10px 10px #FFF1DB;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 7%;
}

.separator {
    width: 80%;
    /* Adjust the width as needed */
    border: 0;
    height: 1px;
    background: #536493;
    /* Adjust color to match your theme */
    margin-bottom: 2%;
}

.total {
    color: #6c757d;
    border-radius: 15px;
    padding: 10px;
    width: 100%;

}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

.main {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    flex: 4;

}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6%;
}

.monthlyIncome,
.monthlyExpenses,
.monthlySavings {
    border-radius: 15%;
    width: 30%;
    height: 30%;
    font-size: 1.4rem;
    padding: 3% 1% 5% 1%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 1s ease-in-out;

    background-color: #fbf6f3;
    box-shadow: 0px 4px 6px #6c757d;
}

.monthlyIncome:hover,
.monthlyExpenses:hover,
.monthlySavings:hover {
    animation: scaleUp 0.3s ease forwards;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}

.text {
    font-size: 1.8rem;
    animation: fadeIn 1s ease-in-out;
}

.greeting {
    display: flex;
    flex: 1;
    /* Enable flexbox */
    flex-direction: column;
    /* Arrange children vertically */
    /* Center vertically */
    /* Center horizontally */
    height: 100%;

    margin-bottom: 3%;
    animation: fadeIn 1s ease-in-out;
    font-size: 1rem;
}

.title {
    font-size: 2rem;
    align-content: space-around;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3%;
    animation: fadeIn 1s ease-in-out;
    gap: 20px;
}

.actions button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
    color: #6c757d;
}

.actions button:hover {
    transform: scale(1.1);
    background-color: #536493;
    color: #fff;
}

/* .addTransaction{
    background-color: #EF5A6F;
}
.newSaving{
    background-color: #53d19d;

}
.planBudget{
    background-color: #6c757d;
}

 */
.monthlyIncome {
    color: #53d19d;
}

.monthlyIncome:hover {
    box-shadow: 0 15px 15px #53d19d;
}

.monthlyExpenses {
    color: #ef5a6ee0;

}

.monthlyExpenses:hover {
    box-shadow: 0 15px 15px #ef5a6ee0;
}

.monthlySavings {
    color: #6c757d;
}

.monthlySavings:hover {
    box-shadow: 0 15px 15px #6c757d;
}