.container {
    color: #333;
    padding: 20px;
    color: #536493;
    text-shadow:0 10px 10px #FFF1DB;

}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

.main {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.statBox {
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.greeting {
    font-size:xx-large;
    margin: 40px 0;
    font-family: 'Malvie Trial', Arial, sans-serif;

}

.actions button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.statBoxWithImage7 {
    background-image: url('/7-removebg-preview.png');
    background-size: cover;
}

.statBoxWithImage8 {
    background-image: url('/8-removebg-preview.png');
    background-size: cover;
}

.statBoxWithImage9 {
    background-image: url('/9-removebg-preview.png');
    background-size: cover;
}

.aaa {
    font-size: x-large;
}