.container {
    padding: 20px;
    color: #536493;
    text-shadow:0 10px 10px #FFF1DB;

}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

.main {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.statBox {
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    font-size: 1.6rem;
}
.greeting {
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Arrange children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100%; /* Ensure the section takes up the necessary height */
    text-align: center; /* Center the text within the element */
    font-size: x-large;
}


.actions button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.monthlyIncome{
    color:#A1D6B2;
    padding:8%;

    box-shadow: 0 10px 10px #A1D6B2;
  border-radius: 15%;
}

.monthlyExpenses{
    color:#ef5a6ee0;
    padding:8%;

    box-shadow: 0 10px 10px #ef5a6ee0;
  border-radius: 15%;
}

.monthlySavings{
    color:#D4BDAC;
    padding:8%;

    box-shadow: 0 12px 12px #D4BDAC;
  border-radius: 15%;
}


.aaa {
    font-size: x-large;
}