.alertItem {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    font-family: 'Malvie Trial', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

.active {
    border: 5px solid #4caf50;
    background-color: #e8f5e9;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.inactive {
    border-left: 5px solid #4caf50;
    background-color: #e8f5e9;
}

.alertHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.alertType {
    font-size: 1.1rem;
    color: #00796b;
    font-weight: bold;
    flex: 1;
    text-align: left;
}

.alertDate {
    font-family: 'Super Dream', Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #00796b;
    margin-left: 8px;
    text-align: right;
    flex-shrink: 0;
}

.alertBody {
    flex: 1;
    font-size: 1.1rem;
    color: #444;
    font-family: 'Super Dream', Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alertBody p {
    margin: 0;
}

.alertBody strong {
    font-family: 'Malvie Trial', Arial, sans-serif;
    color: #333;
}

.completeButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.completeImage {
    width: 40px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.completeButton:hover .completeImage {
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.alertHeader .completeButton {
    position: absolute;
    top: 15px;
    right: 15px;
}

.alertType {
    margin-right: 50px; /* ריווח מצד התמונה */
}

.alertDate {
    position: absolute;
    top: 15px;
    right: 60px;
    font-size: 0.85rem;
    color: #666;
}
